body {
  margin: 0 auto;
  width: 336px;
  background-color: antiquewhite;
}
h1 {
  color: rgb(240,240,240);
  text-shadow: 2px 2px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
.calculator {
  margin: 50px 0 50px 0;
  width: 336px;
  height: auto;
  border: 20px solid rgb(249, 206, 78);
  border-radius: 15px;
}
.screen {
  width: auto;
  height: 57px;
  background-color: rgb(36, 36, 36);
  font-size: 25px;
  color: rgb(226, 226, 226);
  text-align: right;
  padding: 12px;
  margin: 0;
}
button {
  font-size: 30px;
  border: 1px solid rgb(255, 255, 255);
  height: 69px;
}
.yellow {
  background-color: rgb(249, 206, 78);
}
.red {
  background-color: rgb(250, 113, 113);
}
.orange {
  background-color: rgb(249, 160, 78);
}
.green {
  background-color: rgb(139, 207, 119);
}
